include general/header.pug

section.section
  .container
    .columns
      .column.is-half.is-offset-one-quarter
        .box.register_box#register_box
          h3.title.is-3.has-text-primary Registrar
          article.message.none.is-danger
            .message-body
          
          .loading_spin_container.none
            .loading_spin
              div
          form#register_form
            .field
              label.label Nombre
              .control
                input.input#nombre_register(type="text",placeholdrer="Ingrese Nombre")
            .field
              label.label Apellido
              .control
                input.input#lastname_register(type="text",placeholdrer="Ingrese Apellido")
            .field
              label.label Email
              .control
                input.input#email_register(type="email",placeholdrer="Ingrese email")
            .field
              label.label Contrase単a
              .control
                input.input#pass_register(type="password",placeholdrer="Ingrese contrase単a")
            .field
              label.label Repetir Contrase単a
              .control
                input.input#rpass_register(type="password",placeholdrer="Repita contrase単a")
            .field.has-text-centered
              input.has-text-weight-bold.button.is-primary#send_register(value="Registrar",type="submit")

include general/footer.pug