include general/header.pug

section.section
  .container
    .columns
      .column.is-half.is-offset-one-quarter
        .box.login_box
          h3.title.is-3.has-text-primary Registrar
          form
            .field
              label.label Nombre
              .control
                input.input#nombre_login(type="text",placeholdrer="Ingrese Nombre")
            .field
              label.label Email
              .control
                input.input#email_login(type="text",placeholdrer="Ingrese email")
            .field
              label.label Contrase単a
              .control
                input.input#pass_login(type="text",placeholdrer="Ingrese contrase単a")
            .field
              label.label Repetir Contrase単a
              .control
                input.input#rpass_login(type="text",placeholdrer="Repita contrase単a")
            .field.has-text-centered
              input.has-text-weight-bold.button.is-primary#send_login(value="Registrar",type="submit")

include general/footer.pug